# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE

.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.python_packages
.venv